.jumbotron {
    height: 200px;
    text-align: center;
    background-color: white;}

#headerBottom {
    margin-top: 35px;
    height:2px;
    background-color: black;
}

#submit { margin-top: 10px;}

#buttonDiv {text-align: center;}

#result {
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
}

#quizTable td, #quizTable th {border:0;}

.row {border-bottom: 1px solid gray}